img{
    display: block;
    width: 100%;
}

button{
    all: unset;
    cursor: pointer; 
}

a{
    text-decoration: none;
    color: white;
    cursor:pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body{
    background-color: #181818;
}

#intro{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}

.nav_container{
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; 
    padding: 0 32px;
    height: 90px;

}

.nav_total_menu_container{
    display: none;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #141414ad;
    box-sizing: border-box;
    z-index: 1;
}

.nav_menu_container{
    width: 75vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
    background-color: #141414;

    transform: translateX(100%);
    transition-property: transform;
    transition-duration: 0.6s;

    z-index: 2;
}


.nav_menu_text_container{
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 25px;
    gap: 60px;
}

.menu_close_icon_container{
    width: 30px;
    height: 30px;

    position: absolute;
    top: 5%;
    right: 15%;
    color: white;
}

.menu_close_icon{
    width: 100%;
    height: 100%;
    cursor:pointer;
}

.menu_icon_container{
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
}

.menu_icon_container{
    display: block;
}

.nav_total_menu_container.active{
    display: block;
}

.nav_menu_container.active{
    transform: none;
}



#punto_main_intro{
    margin: 0 auto; 
    padding: 0 32px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    /* border-bottom: 2px solid white; */
    overflow: hidden;
    margin-top: 10%;
    /* margin-bottom: 10%; */
}

.main_intro_container{
    max-width: 1280px; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.main_intro_title{
    font-size: 85px; 
    font-weight: 900; 
    color: white;
    margin-bottom: 15px;
}

.main_intro_slogan_E{
    font-size: 30px; 
    line-height: 1.3; 
    color: white;
    margin-bottom: 40px;
}

.main_intro_slogan_K{
    font-size: 25px; 
    color: white;
    margin-bottom: 80px;
}

#main_intro_loop_container{
    width: 100%;
    height: fit-content; 
    overflow: hidden;
}

.loop_content_container{
    width: max-content;
    display: flex;
    animation: roll 12s infinite linear;
    /* flex 정렬속성 사용하면 position 없어도 설정 가능 */
    /* display: flex; align-items:center; justify-content: center; */
}

.loop_content{
    font-size: 100px;
    flex-shrink: 0;
    /* 위에 loop_content_container에 flex 속성 사용할 경우 
    loop_content  position: absolute; 삭제 및 nth-child 속성 삭제 */
    
    font-size: 145px; 
    font-weight: 900;
    color: transparent; 
    -webkit-text-stroke: 2px white; 
    padding: 10px;
    box-sizing: border-box;
}

#punto_introduction{
    margin: 0 auto; 
    padding: 0 32px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 85px;
    margin-top: 5%;
    border-top: 2px solid white;
}

.introduction_text_container{
    width: 100%;
    text-align: center; 
    line-height: 1.3; 
    color: white;
    padding-top: 10%;
}

.introduction_text{
    font-size: 36px;
    position: relative;
}

.introduction_text_title{
    font-size: 72px; 
    font-weight: 900;

}

.introduction_up_fixed_container{
    max-width: 848px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 40px;
    margin-bottom: 100px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.introduction_up_fixed_container.active{
    opacity: 1;
}

.up_fixed_content{
    width: 100%; 
    padding: 25px 60px;
    border: 2px solid white; 
    border-radius: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 20px; 
    font-weight: 500; 
    color: white;
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: scale(1);
}

.introduction_up_fixed_container.active >.up_fixed_content{
    opacity: 1;
    transform: scale(1.2);
}


.introduction_up_fixed_container.active >.up_fixed_content:nth-child(1){
    transition-duration: 0s;
}

.introduction_up_fixed_container.active >.up_fixed_content:nth-child(2){
    transition-delay: 0.1s;
}

.introduction_up_fixed_container.active >.up_fixed_content:nth-child(3){
    transition-delay: 0.3s;
}

.introduction_up_fixed_container.active >.up_fixed_content:nth-child(4){
    transition-delay: 0.4s;
}

#point_value{
    width: 100%;
    height: 100%;
    background-color: white;
}

.punto_value_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

}

.value_container{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    aspect-ratio: 5/1;
    margin-bottom: 5%;
}

.value_title_contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value_text{
    color: #141414;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    padding: 32px 0;
    margin-top: 5%;
}

.value_box{
    cursor: pointer;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background-color: rgb(0 0 0 / 8%);
    font-weight: 400;
    transition: width 0.3s;
}

.value_box.active{
    width: 35%;
    flex-shrink: 0;
}

.value_box span {
    position: absolute;
    transition: opacity 0.3s;
    font-size: 25px;
    font-weight: 550;
    color: #141414;
}

.value_box span.hidden{
    opacity: 0
    
}

#description {
    color: #292929;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.data_description{
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.data_description.active{
    opacity: 1;
}

.introduction_content_text_contaienr{
    text-align: center; 
    line-height: 1.5; 
    color: white; 
    font-size: 30px;
    margin-bottom: 10%;
}



.introduction_content_text_contaienr>.text_point{
    font-size: 36px; 
    font-weight: 900;
}

#punto_scroll_section{
    padding: 0;
    position: relative;
}

.p_scroll_container{
    overflow: hidden;
    position: sticky;
    height: 100vh;
    top: 0;
}

.p_scroll_wrapper{
    height: 100vh;
    width: fit-content;
    display: flex;
}

.p_scroll_wrapper > li{
    width: 50vw;
    height: 100%;
    flex-shrink: 0;
}

.p_scroll_wrapper > .main_scroll_content {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide_main_text{
    font-size: 36px; 
    color: white;
    line-height: 1.5; 
    text-align: center;
}

.slide_main_text>.text_point{
    font-size: 55px; 
    font-weight: 900;
} 

.p_scroll_wrapper > .scroll_content{
    overflow: hidden;
    position: relative;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_scroll_text_content_container{
    position: absolute;
    /* min-width: 1280px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
    gap: 16px;
}

.slide_scroll_text_e{
    font-size: 25px; 
    font-weight: 400;
        
}

.slide_scroll_text_k{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.slide_scroll_btn {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    height: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
}

.slide_scroll_btn:hover{
    background-color: white;
    color: #141414;
    transition: 0.3s;
}

.background_image_place{
    position: absolute;
    width: 100%;
    height: 100%;
}

.background_image_place > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    opacity: 0;
    position: absolute;
    top: 0;

    filter: brightness(0.4);
}

#main_intro_loop_container_diff{
    width: 100%;
    height: max-content; 
    overflow: hidden;
}


.loop_content_container.diff{
    padding: 10px;
    animation: roll 50s infinite linear;
}


.loop_content.diff{
    color: #f4efec2b;
    font-size: 6vw;
    -webkit-text-stroke: 0;
}



#instergram{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 10%;
}


.title_instergram{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5%;
    color: white;
}

.instergram_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
}

.instergram_text_content_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.instergram_id{
    font-size: 20px;
    color: white;
}

.instergram_btn{
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    height: 15px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    color: white;
}

.instergram_btn:hover{
    background-color: white;
    color: #141414;
    transition: 0.3s;
}

.instergram_content_container{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: nowrap;
}


.second_loop{
    overflow: hidden;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.rotate_container{
    transform: rotate(355deg);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.second_loop_infinite_container{
    width: fit-content;
    animation: roll 9s infinite linear;
}

.second_loop_content_container{
    position: relative;
    height: 100%;
    padding: 0 32px;
}

.second_loop_content{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 60px;
    font-weight: 900;
    background-color: white;
    -webkit-text-stroke: 2px #141414;
    color: transparent;
    padding: 20px;
    box-sizing: content-box;
}

.second_loop_content:nth-child(1){
    right: 100%;
}

.second_loop_content:nth-child(2){
    position: static;
}

.second_loop_content:nth-child(3){
    left: 100%;
    top: 0;
}

.second_loop_content:nth-child(4){
    left: 200%;
    top: 0;
}

.third_rotate_containerc{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.third_loop_infinite_container{
    width: 100%;
    height: 100%;
    display: flex;
}

.third_loop_content{
    display: flex;
    padding: 15px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: transparent;
    box-sizing: content-box;
}


#puto_inquiry{
    margin: 0 auto; 
    padding: 0 32px;
    height: 50vh;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

/* 루프 관련 다시 위에꺼 보고 만들 것 */

.inquiry_loop_content_container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inquiry_loop_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.inquiry_text_container{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 32px;
    text-align: center;
}

.inquiry_text_content{
    font-size: 36px; 
    color:white; 
    line-height: 1.5; 
    font-weight: 400;
}

.inquiry_text_content>.text_point{
    font-weight: bold;
}

.inquiry_text_content>.text_point_size_up{
    font-size: 48px;
}

.inquiry_btn{
    font-size: 20px; 
    color: #141414;
    background-color: white;
    width: 150px; 
    height: 100%; 
    padding: 10px;
    border-radius: 50px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px;
}

.inquiry_btn::after{
    content: '';
    display: block;

    width: 10px; 
    aspect-ratio: 1;
    border: 1px solid #141414; 
    border-bottom: 0px; 
    border-left: 0px;
    transform: rotate(45deg);
}

#punto_footer{
    margin: 0 auto; 
    padding: 0 32px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-top: 30px; 
    padding-bottom: 32px;
}

.footer_container{
    width: 1280px;
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    color: white;
}

.footer_information_container{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.footer_information_text_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_infor_left{
    display: flex;
    gap: 10px;
}

.footer_infor_right{
    display: flex;
    gap: 10px;
}

.footer_infor_right > span:nth-child(1) {
    background-color: aqua;
}

.sns_container{
    display: flex; 
    align-items: center; 
    gap: 16px;
}

.sns_content_icon{
    width: 30px;
    border-radius: 50%;
}

@keyframes roll {
    0%{
       transform: translateX(0%);
    } 

    100%{
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1320px){
/* loop_content 크기 설정해야함. */
    
}

@media screen and (max-width: 1300px){

    .main_intro_title{
        font-size: 70px;
    }
    .main_intro_slogan_E{
        font-size: 25px;
    }

    .main_intro_slogan_K{
        font-size: 20px;
    }

    .loop_content{
        font-size: 70px;
    }

    .introduction_text{
        font-size: 25px;
    }

    .introduction_text_title{
        font-size: 45px;
    }

    .up_fixed_content{
        font-size: 18px;
    }

    #punto_introduction{
        gap: 65px;
    }

    .introduction_content_text_contaienr{
        font-size: 20px;
    }

    .introduction_content_text_contaienr>.text_point{
        font-size: 30px;
    }

    #second_loop{
        height: 20vh;
    }

    .value_text{
        font-size: 40px;
    }

    .slide_main_text{
        font-size: 25px;
    }

    .slide_main_text>.text_point{
        font-size: 45px;
    }

    .slide_scroll_text_e {
        font-size: 16px;
    }

    .slide_scroll_text_k{
        font-size: 32px;
    }

    .slide_scroll_btn{
        font-size: 12px;
    }

    .second_loop_content{
        font-size: 50px;
    }

    .inquiry_text_content{
        font-size: 25px;
    }

    .inquiry_text_content>.text_point_size_up{
        font-size: 32px;
    }

    .inquiry_btn{
        font-size: 16px;
        font-weight: bold;
    }

    #puto_inquiry{
        height: 20vh;
    }

    .nav_menu_text_container{
        font-size: 20px;
    }

    }


@media screen and (max-width: 760px){

    .menu_icon_container{
        width: 20px;
        height: 20px;
    }

    .main_intro_title{
        font-size: 40px;
    }

    .main_intro_slogan_E{
        font-size: 16px;
    }

    .main_intro_slogan_K{
        font-size: 12px;
    }

    .loop_content{
        font-size: 32px;
    }

    .introduction_text{
        font-size: 16px;
    }

    .introduction_text_title{
        font-size: 20px;
    }

    .up_fixed_content{
        font-size: 10px;
        padding: 15px 15px;
    }

    .introduction_content_text_contaienr{
        font-size: 16px;
    }

    .introduction_content_text_contaienr>.text_point{
        font-size: 20px;
    }

    .introduction_text_container{
        margin-bottom: 65px;
        line-height: 1.5;
    }

    .value_text{
        font-size: 25px;
    }

    .value_title_contianer>p{
        pointer-events: 12px;
    }

    .value_box span{
        font-size: 16px;
    }

    #description{
        font-size: 14px;
    }

    .slide_main_text{
        font-size: 16px;
    }

    .slide_main_text>.text_point{
        font-size: 25px;
    }

    .slide_scroll_text_e{
        font-size: 12px;
    }

    .slide_scroll_text_k{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .slide_scroll_btn{
        width: 50px;
    }

    .second_loop_content{
        font-size: 25px;
        -webkit-text-stroke: 1px #141414;
    }

    .inquiry_text_content{
        font-size: 18px;
    }

    .inquiry_text_content>.text_point_size_up{
        font-size: 25px;
    }
    
    .inquiry_btn {
        width: 105px;
    }

    .footer_information_container {
        margin-bottom: 10px;
    }

    .footer_information_text_container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        font-size: 12px;
    }

    #punto_introduction{
        gap: 0;
    }

    /* #punto_scroll_section{
        display: none;
    } */

    /* #mobile_slide{
        display: block;
    } */

    .nav_menu_text_container{
        font-size: 18px;
    }

    .instergram_id{
        font-size: 18px;
    }

    .instergram_btn{
        font-size: 12px;
        width: 50px;
        height: 10px;
    }

}