* {
    padding: 0;
    margin: 0;
}


section {
    padding: 0 32px;
}

button{
    all: unset; 
}

.section-container {
    max-width: 1280px;
    margin: 0 auto;

}

.slider {
    position: relative;
    width: 100%;
    height: 700px;
}

.slide-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.contents-wrapper {
    height: 100%;
    width: fit-content;
    display: flex;
    transform: translateX(0);
    transition: 1s;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(255 255 255 / 64%);
}

.text-content{
    font-size: 20px;
    line-height: 1.5;
}

.slider-interface {
    width: 100%;
    position:absolute;
}

.prev {
    position: absolute;
    width: 40px;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.prev::after{
    content: '';
    display: block;

    width: 100%;
    aspect-ratio: 1;

    border: 2px solid white;

    transform: rotate(45deg);

    border-right: none;
    border-top: none;
}

.next {
    position: absolute;
    width: 40px;

    top: 50%;
    right: -50px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.next::after{
    content: '';
    display: block;

    width: 100%;
    aspect-ratio: 1;

    border: 2px solid white;

    transform: rotate(225deg);

    border-right: none;
    border-top: none;
}


.button-container {
    display: none;
}

.slide-button {
    width: 10px;
    height: 10px;
    background-color: #b9b9b9;
    border-radius: 50%;
    cursor: pointer;
}

.slide-button.active {
    background-color: var(--sub-color);
}
